<section>
  <h2>INFORMACJA DOTYCZĄCA STRONY</h2>
  <hr>
  <p>
    Strona została stworozona po to, aby każdy z fanów gry CS:GO mógl znaleźć dla siebie interesującą go informację z
    dziedziny kibersportu. Na stronie są umieszczone informacje dotyczące ostatnich nowin, ostatnich turniejów, rankingi
    drużyn oraz graczy. Za jej pomocy, każdy, kto chciał by oglądać aktualną informację - może z tego korzystać.
  </p>
  <hr>
  <p>
    W przyszłości strona bedzie rozwijać się, zostaną dodane nowe informacje do każdego rozdziału danej strony. Mamy
    nadzieję że znaleźliście Państwo interesujące was informacje.<br> Dziękujemy za wizytę na naszą strone!
  </p>
  <hr>
</section>